*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    
}
html{
    width: 100%;
}

.App{
    background:#bfb3a3;
    height: 100vh;
}

/* Nav Bar */

#appBar {
    width: 100%!important;
    display: flex!important;
    justify-content: space-between!important;
}

.Banniere-img {
    height: 70px;
    padding-top: 8px
}

/* .MuiAppBar-colorPrimary,.MuiListItemIcon-root {
    color: #bfb3a3!important;
    background-color: #11468c!important;
}

.MuiPaper-root{
    color: #11468c!important;
    background-color: #11468c!important;
}

.MuiAppBar-colorPrimary{
    border-bottom: 1.5px dotted #a7d5f2!important;
    border-top: 1.5px dotted #a7d5f2!important;
} */

/* .MuiPaper-root:nth-child(){
    border-left: 1.5px solid #a7d5f2!important;
} */


/* .MuiIconButton-root {
    padding: 2px!important;
    margin-top: 20px!important;
} */

.wellBar{
    font-size: 25px!important;
    text-align: center!important;
    padding: 10px 0;
    text-decoration: underline;
}


@media screen and (max-width:865px) {
    .Banniere-img {
        height: 60px!important;
    }
}

@media screen and (max-width:730px) {
    .Banniere-img {
        height: 50px!important;
    }
}
@media screen and (max-width:610px) {
    .Banniere-img {
        height: 40px!important;
    }
}
@media screen and (max-width: 480px) {
    .Banniere-img {
        height: 30px!important;
    }
}
@media screen and (max-width: 360px) {
    .Banniere-img {
        height: 27px!important;
    }
}


/* Accueil */
.containerAccueil {
    width: 100%;
    height: 130vh;
    background: url('./assets/images/accueil.jpg')no-repeat center/cover;
}

.logoNeuro {
    text-align: center;
}

.logoNeuro img {
    border-radius: 50%;
    margin-top: 50px;
    width: 150px;
    height: 150px;
}

.containerTitre {
    text-align: center;
    color: #401902;
}

.containerTitre h1 {
    font-size: 60px;
}

.containerTitre h3:nth-child(2) {
    font-size: 30px;
}

.containerTitre h3:nth-child(3) {
    font-size: 20px;
}

@media screen and (max-width:480px) {
    .logoNeuro img {
        width: 100px;
        height: 100px;
    }
    .containerTitre h1 {
        font-size: 30px;
    }
    .containerTitre h3:nth-child(2) {
        font-size: 20px;
    }
    .containerTitre h3:nth-child(3) {
        font-size: 15px;
    }
}

@media screen and (max-width:385px) {

    .logoNeuro img {
        width: 100px;
        height: 100px;
    }
    .containerTitre h1 {
        font-size: 25px;
    }
    .containerTitre h3:nth-child(2) {
        font-size: 18px;
    }
    .containerTitre h3:nth-child(3) {
        font-size: 14px;
    }
}
.MuiTypography-body1{
    font-family: 'Lato'!important;
}

.enterButton{
    margin-top: 100px;
    text-align: center;
}

.containerContact{

    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    color: #a7d5f2!important;
    background-color: #bfb3a3!important;
}
.carte{
    overflow: hidden;
    padding-bottom: 56.25%;

}
.carte iframe{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
}
.containerInfoContact{
    outline: #11468c 2px solid;  
    width: 50%;
    height: auto;
    background: #e5ded5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.containerInfoMap{
    outline: #11468c 2px solid;      
    position: relative;
    height: 430px;
    background: #e5ded5;
    width: 45%;
}
.info{
    text-align: center;
    padding: 5px;
    width: 50%;
    height: 215px;

}

.info h2{
    margin-top: 20px;
    text-decoration: underline;
    font-size: 20px;
    color: #11468c;
}
.info p{

    font-size: 18px;
    color: #11468c;
}
.info a{
    color:#11468c;
}
.info a:hover{
    color: #3cadf3;
}
.info a:visited{
    color: #11468c;
}

.info p:nth-child(3){
    margin-top: 20px;
}
.bgImg{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    border:2px solid #11468c;
    color: #11468c;
    /* 11468c */
    background: #e5ded5;
    width: 75px;
    height: 75px;
}

.contactez-nous{
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    color: #4c89bf;
    background-color: #bfb3a3;
    padding: 20px;
    text-decoration: underline;
}
.contactez-nous h2{
    text-align: left;
}
/* .vide{
    width: 100%;
    height: 50px;
    background-color: #bfb3a3;
} */
.cardDetails{
    /* width: 60%; */
    margin: auto;
    text-align: left;
}
.cardDetails h2{
    color: #3cadf3;
    font-size: 35px;
    text-decoration: underline;
}
.cardDetails p{
    font-size: 20px;
    margin: 15px 0;
    text-indent: 20px
}

@media screen and (max-width:890px) {
    .containerContact{
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
    }
    .containerInfoContact{
        width: 80%;
    }
    .containerInfoMap{
        width: 80%;
    }
}

@media screen and (max-width:560px) {
    .containerContact{
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
    }
    .containerInfoContact{
        width: 80%;
    }
    .containerInfoMap{
        width: 80%;
    }
    .info h2{
        font-size: 18px;
    }
    .info p{
        font-size: 14px;
    }
    .contactez-nous{
        font-size: 26px;
    }
}


.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #11468c;
    border-top: 1px dotted #3cadf3;
    border-bottom: 1px dotted #3cadf3;
    display: flex;
    align-items: center;
}

.footer img{
    height: 60px;
    border-right: 1px solid #a7d5f2;
    padding-right: 15px;
    border-radius: 10px;
    margin-left: 20px;
}

@media screen and (max-width:430px) {
    .footer img{
        height: 42px;
    }
}

.DescriptifMainContainer{
    display: flex;
    width: 100%;
    height: auto;
    background:#bfb3a3;

}

.DescriptifMainContainerGD{

    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerDescriptifGauche{
    display: flex;
    align-items: center;
    text-align: right;

    width: 50%;
    padding: 30px;
}
.containerDescriptifGauche h2, .containerDescriptifDroite h2{
    font-size: 25px;
    text-decoration: underline;
    color: #061359;
}
.containerDescriptifGauche p, .containerDescriptifDroite p{
    font-size: 20px;
    color: #061359;
    margin-top: 15px;
}
.containerDescriptifDroite{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;

    width: 50%;
    padding: 30px;
}

@media screen and (max-width:840px) {
    .DescriptifMainContainerGD{
        justify-content: center;
    }
    .containerDescriptifGauche,.containerDescriptifDroite{
        display: flex;
        align-items: center;
        text-align: right;
    
        width: 70%;
        padding: 30px;
    }
    .containerDescriptifGauche h2, .containerDescriptifDroite h2{
        font-size: 20px;
    }
    .containerDescriptifGauche p, .containerDescriptifDroite p{
        font-size: 15px;
    }
}
@media screen and (max-width:750px) {
    .containerDescriptifGauche,.containerDescriptifDroite{
        display: flex;
        align-items: center;
        text-align: right;
    
        width: 90%;
        padding:5px 0px;
    }
    .DescriptifMainContainerGD{
        justify-content: center;
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:505px) {
    .containerDescriptifGauche h2, .containerDescriptifDroite h2{
        font-size: 15px;
    }
    .containerDescriptifGauche p, .containerDescriptifDroite p{
        font-size: 10px;
    }
}

/* CARD WELLNESS */

.Wellness{
    background:#bfb3a3;
}

.containerCard{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 5px;
    margin: 20px auto;
    width: 50%;
    height: 175px;
    background: #401902;
}
.designBackCard{
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0px;
    height: 175px;
    width: 230px;
    background: #3cadf3;
    clip-path: polygon(0% 0%, 50% 0, 25% 50%, 50% 100%, 0% 100%);
}
.photoCard{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 12.5px;
    left: 25px;
    width: 150px;
    height: 150px;
    background: #734226;
    border-radius: 50%;
    box-shadow: 19px 0px 86px #3cadf3;
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */

}

.photoCard img{
    border-radius: 50%;
    text-align: center;
    width: 150px;
    height: 150px;
    background-size: cover;
}
.Infos{
    /* position: absolute; */
    left: 250px;
    text-align: center;
    border-right:1px solid #a7d5f2;
    padding-right: 50px;
    border-radius: 20px;
}
.Infos h4{
    font-size: 25px;
    margin-bottom: 15px;
    text-decoration: underline;
}
.Infos h3{
    font-size: 15px;
    margin-bottom: 20px;
}
.Infos h2{
    font-size: 17px;
}
.Infos p{
    font-size: 17px;
}
.Infos img{
    margin-right: 20px;
}
.contact{
    display: flex;
    justify-content: center;
}
.contact p{
    margin: 10px 10px;
}
@media screen and (max-width:1070px) {
    .containerCard{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        border-radius: 5px;
        margin: 20px auto;
        width: 70%;
        height: 175px;
        background: #401902;
    }
}
@media screen and (max-width:780px) {
    .containerCard{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        border-radius: 5px;
        margin: 20px auto;
        width: 100%;
        height: 175px;
        background: #401902;
    }
}

@media screen and (max-width:570px) {
    .containerCard{
        display: flex;
    justify-content: flex-end;
        margin: 20px auto;
        background: #401902;
    }
    
    
    .Infos{
        /* position: absolute; */
        left: 250px;
        text-align: center;
        border-right:none;
        padding-right: 0px;
        border-radius: 20px;
    }
    .Infos h4{
        font-size: 20px;
        margin-bottom: 15px;
        text-decoration: underline;
    }
    .Infos h3{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .Infos h2{
        font-size: 13px;
    }
    .Infos p{
        font-size: 10px;
    }
    .Infos img{
        margin-right: 20px;
    }
    .contact{
        display: flex;
        justify-content: center;
    }
    .contact p{
        margin: 10px 10px;
    }
}
@media screen and (max-width:450px) {
    .photoCard{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 35px;
        left: 0px;
        width: 100px;
        height: 100px;
        background: #734226;
        border-radius: 50%;
        box-shadow: 19px 0px 86px #3cadf3;
        /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    
    }
    
    .photoCard img{
        border-radius: 50%;
        text-align: center;

        width: 100px;
        height: 100px;
        background-size: cover;
    }
    .designBackCard{
        border-radius: 5px;
        position: absolute;
        left: -5px;
        top: 0px;
        height: 175px;
        width: 150px;
        background: #3cadf3;
        clip-path: polygon(0% 0%, 50% 0, 25% 50%, 50% 100%, 0% 100%);
    }
}
@media screen and (max-width:380px) {
    .photoCard{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50px;
        left: 0px;
        width: 75px;
        height: 75px;
        background: #734226;
        border-radius: 50%;
        box-shadow: 19px 0px 86px #3cadf3;
        /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    
    }
    
    .photoCard img{
        border-radius: 50%;
        text-align: center;

        width: 75px;
        height: 75px;
        background-size: cover;
    }
}
@media screen and (max-width:329px) {
    .photoCard{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 60px;
        left: 0px;
        width: 65px;
        height: 65px;
        background: #734226;
        border-radius: 50%;
        box-shadow: 19px 0px 86px #3cadf3;
        /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    
    }
    
    .photoCard img{
        border-radius: 50%;
        text-align: center;

        width: 65px;
        height: 65px;
        background-size: cover;
    }
}
.articleContainer{

    padding-top: 50px;
    margin: auto;
    background:#bfb3a3;
}
.article{
    text-align: justify;
    margin: auto;
    width: 80%;
    color: #11468c;
}
.article p,.article h2{
    font-family: 'Lora';
    font-size: 20px;
    color: #11468c;
}
.article p{
    padding: 15px;
}
.sommaire li{
    list-style: none;
    margin-bottom: 20px;
}
.sommaire a{
    color: #11468c;
    font-size: 18px;
}
@media screen and (max-width:640px) {
    /* .sommaire a{
        font-size: 12px;
    } */
    
}
.questionImportant{
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    text-decoration: underline;
}
.article h2{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}


section{
    display: flex;
    justify-content: center;
}

.methodeImg{
    border: 2px solid #11468c;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    margin: 25px 0;
    width: auto;
    height: 350px;
    border-radius: 15px;
    /* box-shadow: 5px 5px 5px 0 #3cadf3; */
}
.listeMethode{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 20px;
}

@media screen and (max-width:768px) {
    .article p,.article h2{
        font-size: 16px;
    }
    .article p{
        padding: 15px;
    }
    .article h2{
        font-size: 25px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 50px;
    }
    .methodeImg{
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        text-align: center;
        margin: 15px 0;
        width: auto;
        height: 200px;
    }
}
@media screen and (max-width:335px) {
    .article p,.article h2{
        font-size: 16px;
    }
    .article p{
        padding: 15px;
    }
    .article h2{
        font-size: 25px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 50px;
    }
    .methodeImg{
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        text-align: center;
        margin: 15px 0;
        width: auto;
        height: 125px;
    }
}

.blogContainer h2{
    padding-top: 25px;
    color: #3cadf3;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}
.blogContainer,.formationContainer,.newsContainer{
    width: 100%;
    height: auto;
    background:#bfb3a3;
}
.blogContainer h3{
    font-size: 30px;
    font-family: 'Oswald';
}

.blogContainer p{
    text-align: justify;
    font-family: 'Dancing Script';
    font-size: 26px;
    font-style: italic;
}

.textBase,.textBase a{
    color: #a7d5f2;
    width: 70%;
    margin: 20px auto;
}
.textBase h3{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.textBase h4{
    font-size: 27px;
    margin: 20px 0;
    text-decoration: underline;
}

.textBase p,.textBase a{
    font-size: 20px;
    margin: 10px 0;
}
.textBase p:last-child{
    text-align: right;
}

.imgContainer{
    padding: 50px;
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgContainer img{
    overflow: hidden;
    width: 100%;
    height: auto;
}
.imgContainer a{
    padding: 0px;
    margin: 20px;
    width: 200px;
}

.newsContainer h2{
    text-align: center;
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 40px;
    text-decoration: underline;
    color: #3cadf3;
}