*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Nav Bar */

#appBar {
    width: 100%!important;
    display: flex!important;
    justify-content: space-between!important;
}

.Banniere-img {
    height: 96px;
    padding-top: 12px
}

.MuiAppBar-colorPrimary,.MuiPaper-root,.MuiListItemIcon-root {
    color: #a7d5f2!important;
    background-color: #734226!important;
}

.MuiAppBar-colorPrimary{
    border-bottom: 1.5px dotted #a7d5f2!important;
}

.MuiPaper-root{
    border-left: 1.5px solid #a7d5f2!important;
}


.MuiIconButton-root {
    padding: 2px!important;
    margin-top: 20px!important;
}

@media screen and (max-width:465px) {
    .Banniere-img {
        position: absolute;
        height: 80px!important;
        top: 17px;
    }
}

@media screen and (max-width:375px) {
    .Banniere-img {
        position: absolute;
        height: 64px!important;
        top: 26px;
    }
}


/* Accueil */

.containerAccueil {
    width: 100%;
    height: 100vh;
    background: url('./assets/images/accueil.jpg')no-repeat center/cover;
}

.logoNeuro {
    text-align: center;
}

.logoNeuro img {
    margin-top: 150px;
    width: 150px;
    height: 150px;
}

.containerTitre {
    text-align: center;
    color: #401902;
}

.containerTitre h1 {
    font-size: 40px;
}

.containerTitre h3:nth-child(2) {
    font-size: 30px;
}

.containerTitre h3:nth-child(3) {
    font-size: 20px;
}

@media screen and (max-width:480px) {
    .logoNeuro img {
        margin-top: 150px;
        width: 100px;
        height: 100px;
    }
    .containerTitre h1 {
        font-size: 30px;
    }
    .containerTitre h3:nth-child(2) {
        font-size: 20px;
    }
    .containerTitre h3:nth-child(3) {
        font-size: 15px;
    }
}

@media screen and (max-width:385px) {
    .logoNeuro img {
        margin-top: 150px;
        width: 100px;
        height: 100px;
    }
    .containerTitre h1 {
        font-size: 25px;
    }
    .containerTitre h3:nth-child(2) {
        font-size: 18px;
    }
    .containerTitre h3:nth-child(3) {
        font-size: 14px;
    }
}
.MuiTypography-body1{
    font-family: 'Lato'!important;
}