*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}


/* Nav Bar */

#appBar {
    width: 100%!important;
    display: flex!important;
    justify-content: space-between!important;
}

.Banniere-img {
    height: 70px;
    padding-top: 8px
}

.MuiAppBar-colorPrimary,.MuiPaper-root,.MuiListItemIcon-root {
    color: #a7d5f2!important;
    background-color: #734226!important;
}

.MuiAppBar-colorPrimary{
    border-bottom: 1.5px dotted #a7d5f2!important;
}

/* .MuiPaper-root:nth-child(){
    border-left: 1.5px solid #a7d5f2!important;
} */


/* .MuiIconButton-root {
    padding: 2px!important;
    margin-top: 20px!important;
} */

.wellBar{
    font-size: 25px!important;
    text-align: center!important;
    padding: 10px 0;
    text-decoration: underline;
}


@media screen and (max-width:790px) {
    .Banniere-img {
        height: 60px!important;
    }
}

@media screen and (max-width:650px) {
    .Banniere-img {
        height: 50px!important;
    }
}
@media screen and (max-width:530px) {
    .Banniere-img {
        height: 40px!important;
    }
}
@media screen and (max-width: 420px) {
    .Banniere-img {
        height: 30px!important;
    }
}


/* Accueil */

.containerAccueil {
    width: 100%;
    height: 100vh;
    background: url('./assets/images/accueil.jpg')no-repeat center/cover;
}

.logoNeuro {
    text-align: center;
}

.logoNeuro img {
    border-radius: 50%;
    margin-top: 50px;
    width: 150px;
    height: 150px;
}

.containerTitre {
    text-align: center;
    color: #401902;
}

.containerTitre h1 {
    font-size: 60px;
}

.containerTitre h3:nth-child(2) {
    font-size: 30px;
}

.containerTitre h3:nth-child(3) {
    font-size: 20px;
}

@media screen and (max-width:480px) {
    .logoNeuro img {
        width: 100px;
        height: 100px;
    }
    .containerTitre h1 {
        font-size: 30px;
    }
    .containerTitre h3:nth-child(2) {
        font-size: 20px;
    }
    .containerTitre h3:nth-child(3) {
        font-size: 15px;
    }
}

@media screen and (max-width:385px) {
    .logoNeuro img {
        width: 100px;
        height: 100px;
    }
    .containerTitre h1 {
        font-size: 25px;
    }
    .containerTitre h3:nth-child(2) {
        font-size: 18px;
    }
    .containerTitre h3:nth-child(3) {
        font-size: 14px;
    }
}
.MuiTypography-body1{
    font-family: 'Lato'!important;
}

.enterButton{
    margin-top: 100px;
    text-align: center;
}

.containerContact{
    display: flex;
    width: 100%;
    height: auto;
    /* flex-direction: r; */
    justify-content: center;
    align-items: center;
    color: #a7d5f2!important;
    background-color: #995832!important;
}
.carte{
    overflow: hidden;
    padding-bottom: 56.25%;

}
.carte iframe{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
}
.containerInfoContact{
    width: 50%;
    height: auto;
    background: #401902;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.containerInfoMap{
    position: relative;
    height: 430px;
    background: #401902;
    width: 45%;
}
.info{
    text-align: center;
    padding: 5px;
    width: 50%;
    height: 215px;

}

.info h2{
    margin-top: 20px;
    text-decoration: underline;
    font-size: 20px;
}
.info p{

    font-size: 18px;
}
.info a{
    color:#a7d5f2;
}
.info a:hover{
    color: #3cadf3;
}
.info a:visited{
    color: #a7d5f2;
}

.info p:nth-child(3){
    margin-top: 20px;
}
.bgImg{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    border:2px solid #a7d5f2;
    background: #401902;
    width: 75px;
    height: 75px;
}

.contactez-nous{
    text-align: center;
    font-size: 35px;
    color: #a7d5f2;
    background-color: #995832;
    padding: 20px;
    text-decoration: underline;
}
.vide{
    width: 100%;
    height: 50px;
    background-color: #995832;
}

@media screen and (max-width:890px) {
    .containerContact{
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
    }
    .containerInfoContact{
        width: 80%;
    }
    .containerInfoMap{
        width: 80%;
    }
}

@media screen and (max-width:560px) {
    .containerContact{
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
    }
    .containerInfoContact{
        width: 80%;
    }
    .containerInfoMap{
        width: 80%;
    }
    .info h2{
        font-size: 18px;
    }
    .info p{
        font-size: 14px;
    }
    .contactez-nous{
        font-size: 26px;
    }
}

.footer{
    width: 100%;
    height: 80px;
    background: #734226;
    border-top: 1px dotted #3cadf3;
    display: flex;
    align-items: center;
}

.footer img{
    height: 60px;
    border-right: 1px solid #a7d5f2;
    padding-right: 15px;
    border-radius: 10px;
    margin-left: 20px;
}

@media screen and (max-width:430px) {
    .footer img{
        height: 42px;
    }
}
