*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    
}

.App{
    background-color: #401902;
    height: 100vh;
}

/* Nav Bar */

#appBar {
    width: 100%!important;
    display: flex!important;
    justify-content: space-between!important;
}

.Banniere-img {
    height: 70px;
    padding-top: 8px
}

.MuiAppBar-colorPrimary,.MuiPaper-root,.MuiListItemIcon-root {
    color: #a7d5f2!important;
    background-color: #734226!important;
}

.MuiAppBar-colorPrimary{
    border-bottom: 1.5px dotted #a7d5f2!important;
    border-top: 1.5px dotted #a7d5f2!important;
}

/* .MuiPaper-root:nth-child(){
    border-left: 1.5px solid #a7d5f2!important;
} */


/* .MuiIconButton-root {
    padding: 2px!important;
    margin-top: 20px!important;
} */

.wellBar{
    font-size: 25px!important;
    text-align: center!important;
    padding: 10px 0;
    text-decoration: underline;
}


@media screen and (max-width:790px) {
    .Banniere-img {
        height: 60px!important;
    }
}

@media screen and (max-width:650px) {
    .Banniere-img {
        height: 50px!important;
    }
}
@media screen and (max-width:530px) {
    .Banniere-img {
        height: 40px!important;
    }
}
@media screen and (max-width: 420px) {
    .Banniere-img {
        height: 30px!important;
    }
}


/* Accueil */
.containerAccueil {
    width: 100%;
    height: 130vh;
    background: url('./assets/images/accueil.jpg')no-repeat center/cover;
}

.logoNeuro {
    text-align: center;
}

.logoNeuro img {
    border-radius: 50%;
    margin-top: 50px;
    width: 150px;
    height: 150px;
}

.containerTitre {
    text-align: center;
    color: #401902;
}

.containerTitre h1 {
    font-size: 60px;
}

.containerTitre h3:nth-child(2) {
    font-size: 30px;
}

.containerTitre h3:nth-child(3) {
    font-size: 20px;
}

@media screen and (max-width:480px) {
    .logoNeuro img {
        width: 100px;
        height: 100px;
    }
    .containerTitre h1 {
        font-size: 30px;
    }
    .containerTitre h3:nth-child(2) {
        font-size: 20px;
    }
    .containerTitre h3:nth-child(3) {
        font-size: 15px;
    }
}

@media screen and (max-width:385px) {

    .logoNeuro img {
        width: 100px;
        height: 100px;
    }
    .containerTitre h1 {
        font-size: 25px;
    }
    .containerTitre h3:nth-child(2) {
        font-size: 18px;
    }
    .containerTitre h3:nth-child(3) {
        font-size: 14px;
    }
}
.MuiTypography-body1{
    font-family: 'Lato'!important;
}

.enterButton{
    margin-top: 100px;
    text-align: center;
}

.containerContact{
    display: flex;
    width: 100%;
    height: auto;
    /* flex-direction: r; */
    justify-content: center;
    align-items: center;
    color: #a7d5f2!important;
    background-color: #995832!important;
}
.carte{
    overflow: hidden;
    padding-bottom: 56.25%;

}
.carte iframe{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
}
.containerInfoContact{
    width: 50%;
    height: auto;
    background: #401902;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.containerInfoMap{
    position: relative;
    height: 430px;
    background: #401902;
    width: 45%;
}
.info{
    text-align: center;
    padding: 5px;
    width: 50%;
    height: 215px;

}

.info h2{
    margin-top: 20px;
    text-decoration: underline;
    font-size: 20px;
}
.info p{

    font-size: 18px;
}
.info a{
    color:#a7d5f2;
}
.info a:hover{
    color: #3cadf3;
}
.info a:visited{
    color: #a7d5f2;
}

.info p:nth-child(3){
    margin-top: 20px;
}
.bgImg{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    border:2px solid #a7d5f2;
    background: #401902;
    width: 75px;
    height: 75px;
}

.contactez-nous{
    text-align: center;
    font-size: 35px;
    color: #a7d5f2;
    background-color: #995832;
    padding: 20px;
    text-decoration: underline;
}
.vide{
    width: 100%;
    height: 50px;
    background-color: #995832;
}

@media screen and (max-width:890px) {
    .containerContact{
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
    }
    .containerInfoContact{
        width: 80%;
    }
    .containerInfoMap{
        width: 80%;
    }
}

@media screen and (max-width:560px) {
    .containerContact{
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
    }
    .containerInfoContact{
        width: 80%;
    }
    .containerInfoMap{
        width: 80%;
    }
    .info h2{
        font-size: 18px;
    }
    .info p{
        font-size: 14px;
    }
    .contactez-nous{
        font-size: 26px;
    }
}


.footer{
    width: 100%;
    height: 80px;
    background: #734226;
    border-top: 1px dotted #3cadf3;
    border-bottom: 1px dotted #3cadf3;
    display: flex;
    align-items: center;
}

.footer img{
    height: 60px;
    border-right: 1px solid #a7d5f2;
    padding-right: 15px;
    border-radius: 10px;
    margin-left: 20px;
}

@media screen and (max-width:430px) {
    .footer img{
        height: 42px;
    }
}

.DescriptifMainContainer{
    display: flex;
    width: 100%;
    height: auto;
    background: rgb(153,88,50);
background: radial-gradient(circle, rgba(153,88,50,1) 0%, rgba(64,25,2,1) 100%);

}

.DescriptifMainContainerGD{

    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerDescriptifGauche{
    display: flex;
    align-items: center;
    text-align: right;

    width: 50%;
    padding: 30px;
}
.containerDescriptifGauche h2, .containerDescriptifDroite h2{
    font-size: 25px;
    text-decoration: underline;
    color: #a7d5f2;
}
.containerDescriptifGauche p, .containerDescriptifDroite p{
    font-size: 20px;
    color: #a7d5f2;
    margin-top: 15px;
}
.containerDescriptifDroite{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;

    width: 50%;
    padding: 30px;
}

@media screen and (max-width:840px) {
    .DescriptifMainContainerGD{
        justify-content: center;
    }
    .containerDescriptifGauche,.containerDescriptifDroite{
        display: flex;
        align-items: center;
        text-align: right;
    
        width: 70%;
        padding: 30px;
    }
    .containerDescriptifGauche h2, .containerDescriptifDroite h2{
        font-size: 20px;
    }
    .containerDescriptifGauche p, .containerDescriptifDroite p{
        font-size: 15px;
    }
}
@media screen and (max-width:750px) {
    .containerDescriptifGauche,.containerDescriptifDroite{
        display: flex;
        align-items: center;
        text-align: right;
    
        width: 90%;
        padding:5px 0px;
    }
    .DescriptifMainContainerGD{
        justify-content: center;
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:505px) {
    .containerDescriptifGauche h2, .containerDescriptifDroite h2{
        font-size: 15px;
    }
    .containerDescriptifGauche p, .containerDescriptifDroite p{
        font-size: 10px;
    }
}

/* CARD WELLNESS */

.Wellness{
    background: rgb(153,88,50);
    background: radial-gradient(circle, rgba(153,88,50,1) 0%, rgba(64,25,2,1) 100%);
}

.containerCard{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 5px;
    margin: 20px auto;
    width: 50%;
    height: 175px;
    background: #401902;
}
.designBackCard{
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0px;
    height: 175px;
    width: 230px;
    background: #3cadf3;
    clip-path: polygon(0% 0%, 50% 0, 25% 50%, 50% 100%, 0% 100%);
}
.photoCard{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 12.5px;
    left: 25px;
    width: 150px;
    height: 150px;
    background: #734226;
    border-radius: 50%;
    box-shadow: 19px 0px 86px #3cadf3;
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */

}

.photoCard img{
    border-radius: 50%;
    text-align: center;
    width: 150px;
    height: 150px;
    background-size: cover;
}
.Infos{
    /* position: absolute; */
    left: 250px;
    text-align: center;
    border-right:1px solid #a7d5f2;
    padding-right: 50px;
    border-radius: 20px;
}
.Infos h4{
    font-size: 25px;
    margin-bottom: 15px;
    text-decoration: underline;
}
.Infos h3{
    font-size: 15px;
    margin-bottom: 20px;
}
.Infos h2{
    font-size: 17px;
}
.Infos p{
    font-size: 17px;
}
.Infos img{
    margin-right: 20px;
}
.contact{
    display: flex;
    justify-content: center;
}
.contact p{
    margin: 10px 10px;
}
@media screen and (max-width:1070px) {
    .containerCard{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        border-radius: 5px;
        margin: 20px auto;
        width: 70%;
        height: 175px;
        background: #401902;
    }
}
@media screen and (max-width:780px) {
    .containerCard{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        border-radius: 5px;
        margin: 20px auto;
        width: 100%;
        height: 175px;
        background: #401902;
    }
}

@media screen and (max-width:570px) {
    .containerCard{
        display: flex;
    justify-content: flex-end;
        margin: 20px auto;
        background: #401902;
    }
    
    
    .Infos{
        /* position: absolute; */
        left: 250px;
        text-align: center;
        border-right:none;
        padding-right: 0px;
        border-radius: 20px;
    }
    .Infos h4{
        font-size: 20px;
        margin-bottom: 15px;
        text-decoration: underline;
    }
    .Infos h3{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .Infos h2{
        font-size: 13px;
    }
    .Infos p{
        font-size: 10px;
    }
    .Infos img{
        margin-right: 20px;
    }
    .contact{
        display: flex;
        justify-content: center;
    }
    .contact p{
        margin: 10px 10px;
    }
}
@media screen and (max-width:450px) {
    .photoCard{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 35px;
        left: 0px;
        width: 100px;
        height: 100px;
        background: #734226;
        border-radius: 50%;
        box-shadow: 19px 0px 86px #3cadf3;
        /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    
    }
    
    .photoCard img{
        border-radius: 50%;
        text-align: center;

        width: 100px;
        height: 100px;
        background-size: cover;
    }
    .designBackCard{
        border-radius: 5px;
        position: absolute;
        left: -5px;
        top: 0px;
        height: 175px;
        width: 150px;
        background: #3cadf3;
        clip-path: polygon(0% 0%, 50% 0, 25% 50%, 50% 100%, 0% 100%);
    }
}
@media screen and (max-width:380px) {
    .photoCard{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50px;
        left: 0px;
        width: 75px;
        height: 75px;
        background: #734226;
        border-radius: 50%;
        box-shadow: 19px 0px 86px #3cadf3;
        /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    
    }
    
    .photoCard img{
        border-radius: 50%;
        text-align: center;

        width: 75px;
        height: 75px;
        background-size: cover;
    }
}
@media screen and (max-width:329px) {
    .photoCard{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 60px;
        left: 0px;
        width: 65px;
        height: 65px;
        background: #734226;
        border-radius: 50%;
        box-shadow: 19px 0px 86px #3cadf3;
        /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    
    }
    
    .photoCard img{
        border-radius: 50%;
        text-align: center;

        width: 65px;
        height: 65px;
        background-size: cover;
    }
}